In [1]:
#Python Data Structure - Tuple -1D - is immutable 
#empty tuple
#tuples are represented with in soft brackets - also called parentheses

State = ()
print(State)

()

In [33]:
# tuple with string
state = ('newyork', 'california', 'arizona', 'vermont')
print(state)

('newyork', 'california', 'arizona', 'vermont')

In [35]:
# Tuple with the use of list
state = ['newyork', 'california', 'arizona', 'vermont']
print(state)

print(tuple(state))

['newyork', 'california', 'arizona', 'vermont']
('newyork', 'california', 'arizona', 'vermont')

In [36]:
# tuple with the use of built-in function
state = tuple('vermont')
print(state)

('v', 'e', 'r', 'm', 'o', 'n', 't')

In [3]:
#tuple with integers 
# type command in tuple 
ranking = (1, 2, 3, 4, 5)
print(ranking)
type(ranking)

(1, 2, 3, 4, 5)

tuple

In [4]:
#tuple with multiple datatypes 
place = ('usa', 2, 'uk', 5, 'uae', 11.5)
print(place)

('usa', 2, 'uk', 5, 'uae', 11.5)

In [10]:
#nested tuples 
place = ("usa", [2,3,5,4], 'uk', (8,11,9))
print(place)

place[1][3]

('usa', [2, 3, 5, 4], 'uk', (8, 11, 9))

4

In [16]:
# tuple can be created without parentheses
# also called tuple packing

place = "america", 80, 5.6, 
print(place)

('america', 80, 5.6)

In [17]:
# tuple unpacking is also possible
a, b, c = place 
print(a)
print(b)
print(c)

america
80
5.6

In [18]:
#type command - string in tuple
place = ("house")
print(type(place))

<class 'str'>

In [21]:
#tuple with and without parentheses - need cama , - type 
place = ("house",)
print(type(place))

place = "house",
print(type(place))

<class 'tuple'>
<class 'tuple'>

In [45]:
# Creating a Tuple with nested tuples 
state = ('newyork', 'california', 'arizona', 'vermont', 'texas')
ranking = (1, 2, 3, 4, 5) 

state_ranks = (state, ranking)
print(state_ranks)

(('newyork', 'california', 'arizona', 'vermont', 'texas'), (1, 2, 3, 4, 5))

In [23]:
#accecssing elements in tuple - index

hcr = ('mango', 5, 'cream', 44, 5.2, 78, 'gift')
print(hcr[2])

print(hcr[4])

cream
5.2

In [26]:
#accessing element in nested tuple - index

n_place = ('usa', [2, 3, 5, 4], 'uk', (8, 11, 9))

print(n_place[1])
print(n_place[3][1])
print(n_place[1:3])

[2, 3, 5, 4]
11
([2, 3, 5, 4], 'uk')

In [32]:
#delete command
n_place = ('usa', [2, 3, 5, 4], 'uk', (8, 11, 9))

del n_place
n_place

NameError: name 'n_place' is not defined

In [39]:
#repitations command

state_rep = ('maine',) * 5
print(state_rep)

('maine', 'maine', 'maine', 'maine', 'maine')

In [18]:
# tuple with the use of loop

state = ('newyork', 'california', 'arizona', 'vermont', 'texas')


for x in (state):

    print([x])
   




state = ('newyork', 'california', 'arizona', 'vermont', 'texas')


for x in (state):

    print(x)

['newyork']
['california']
['arizona']
['vermont']
['texas']
newyork
california
arizona
vermont
texas

In [9]:
#Loop Through the Index Numbers
for x in range(len(state)):

    print(state)

('newyork', 'california', 'arizona', 'vermont', 'texas')
('newyork', 'california', 'arizona', 'vermont', 'texas')
('newyork', 'california', 'arizona', 'vermont', 'texas')
('newyork', 'california', 'arizona', 'vermont', 'texas')
('newyork', 'california', 'arizona', 'vermont', 'texas')

In [20]:
#tuple Using a While Loop
state = ('newyork', 'california', 'arizona', 'vermont', 'texas')

z = 0

while z <= len(state):
    print(state[z])
    z = z + 1

newyork
california
arizona
vermont
texas

IndexError: tuple index out of range

In [23]:
#tuple using index command 
state = ('newyork', 'california', 'arizona', 'vermont', 'texas')

print(state.index('arizona'))

2

In [28]:
#tuple using count command
state = ('newyork', 'california', 'arizona', 'vermont', 'texas')

print(state.count('texas'))

1

In [29]:
#tuple element assigning to new value #is not mutable
place = ('usa', 2, 'uk', 5, 'uae', 11.5)
place[5]
20.4
place[5] = 20.4 
print(place)

TypeError: 'tuple' object does not support item assignment

In [43]:
#Change Tuple element Values - 
# You can convert the tuple into a list, change the list, and convert the list back into a tuple
 
num_1 = (5, 8, 7, 51)
num_2 = list(num_1)

print(num_2)

num_2[3] = '9'
num_1 = tuple(num_2)
print(num_1)

[5, 8, 7, 51]
(5, 8, 7, '9')

In [44]:
#append command
num_1 = (5, 8, 7, 51)
num_2 = list(num_1)
num_2.append('12')

num_1 = tuple(num_2)
print(num_1)

(5, 8, 7, 51, '12')

In [46]:
#tuple - operators 
#joining tuples

state = ('newyork', 'california', 'arizona', 'vermont', 'texas')
ranking = (1, 2, 3, 4, 5)

state_ranks = state + ranking 
print(state_ranks)

('newyork', 'california', 'arizona', 'vermont', 'texas', 1, 2, 3, 4, 5)

In [48]:
#multiply tuples
state = ('newyork', 'california', 'arizona', 'vermont', 'texas')
mult = state * 3
print(mult)

('newyork', 'california', 'arizona', 'vermont', 'texas', 'newyork', 'california', 'arizona', 'vermont', 'texas', 'newyork', 'california', 'arizona', 'vermont', 'texas')

In [53]:
#tuple max and min 
ranking = (1, 2, 3, 4, 5)
ranking_1 = (5,6,9,7,10)
maxi = max(ranking, ranking_1)
print(maxi)
mini = min(ranking)
print(mini)

(5, 6, 9, 7, 10)
1

In [54]:
#tuple using sorted command 
ranking_1 = (5,6,9,7,10)

print(sorted(ranking_1))

[5, 6, 7, 9, 10]

In [57]:
#any command 
 #All elements of tuple are true
ranking_1 = (5,6,9,7,10)
print(any(ranking_1))

# All elements of tuple are false
t = (0, False, False)
print(any(t))

## Empty tuple
t = ()
print(any(t))

True
False
False

In [ ]:
#Built-in-Method and functions in tuples explained above 
#index
#count
#min
#max
#sorted
#len
#del
#for loop
#while loop
#any