- Data cleaning using sklearn - Automobile price dataset
- check given data has any null and replacing values 
- Label Encoding
- skandard scalar

1.Import required libraries and the dataset file

In [362]:
import pandas as pd 
import numpy as np
import seaborn as sns

In [363]:
cd

C:\Users\mouna

In [364]:
Auto = pd.read_csv('C:\\DataS\\Nov Batch Course Files\\Automobile price data _Raw.csv')

In [365]:
Auto

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

2.Check if there's any Null values

In [366]:
#we see zero null values here
Auto.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

3.check we need to replace any value which are in symbols like - , . @ # ! ? > * etc.

In [367]:
#we notice symbol '?' that needs to be replaced 
Auto.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [368]:
Auto = Auto.replace('?', np.nan)

4.Try filling Null value with column means

In [369]:
Auto = Auto.fillna(Auto.mean())
#Auto = Auto.fillna(Auto.mean(numeric_only=True))

C:\Users\mouna\AppData\Local\Temp\ipykernel_22500\3645894186.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  Auto = Auto.fillna(Auto.mean())

4.but we notice no change in replaceing Nan with column mean value

In [370]:

Auto.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [371]:
#we still notice null values
Auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [372]:
Auto.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

5. drop the remaining null valueS

In [373]:
Auto = Auto.dropna()

In [374]:
Auto.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

6.lets check mean and std values

In [375]:
Auto.mean()

C:\Users\mouna\AppData\Local\Temp\ipykernel_22500\1229847780.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  Auto.mean()

symboling               0.735849
normalized-losses            inf
wheel-base             98.264151
length                172.413836
width                  65.607547
height                 53.899371
curb-weight          2461.138365
engine-size           119.226415
compression-ratio      10.161132
horsepower                   inf
peak-rpm                     inf
city-mpg               26.522013
highway-mpg            32.081761
price                        inf
dtype: float64

In [376]:
Auto.std()

C:\Users\mouna\AppData\Local\Temp\ipykernel_22500\1161070968.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  Auto.std()

symboling              1.193086
wheel-base             5.167416
length                11.523177
width                  1.947883
height                 2.268761
curb-weight          481.941321
engine-size           30.460791
compression-ratio      3.889475
city-mpg               6.097142
highway-mpg            6.459189
dtype: float64

6.encode values using sklearn

In [377]:
from sklearn import datasets

In [378]:
#Encoding - To convert any Alphabetical data into numbers
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
Auto['make'] = le.fit_transform(Auto['make'])
Auto['fuel-type'] = le.fit_transform(Auto['fuel-type'])
Auto['aspiration'] = le.fit_transform(Auto['aspiration'])
Auto['num-of-doors'] = le.fit_transform(Auto['num-of-doors'])
Auto['body-style'] = le.fit_transform(Auto['body-style'])
Auto['drive-wheels'] = le.fit_transform(Auto['drive-wheels'])
Auto['engine-location'] = le.fit_transform(Auto['engine-location'])
Auto['engine-type'] = le.fit_transform(Auto['engine-type'])
Auto['num-of-cylinders'] = le.fit_transform(Auto['num-of-cylinders'])
Auto['fuel-system'] = le.fit_transform(Auto['fuel-system'])
print(Auto)

     symboling normalized-losses  make  fuel-type  aspiration  num-of-doors  \
3            2               164     0          1           0             0
4            2               164     0          1           0             0
6            1               158     0          1           0             0
8            1               158     0          1           1             0
10           2               192     1          1           0             1
..         ...               ...   ...        ...         ...           ...
200         -1                95    17          1           0             0
201         -1                95    17          1           1             0
202         -1                95    17          1           0             0
203         -1                95    17          0           1             0
204         -1                95    17          1           1             0

     body-style  drive-wheels  engine-location  wheel-base  ...  engine-size  \
3             3             1                0        99.8  ...          109
4             3             0                0        99.4  ...          136
6             3             1                0       105.8  ...          136
8             3             1                0       105.8  ...          131
10            3             2                0       101.2  ...          108
..          ...           ...              ...         ...  ...          ...
200           3             2                0       109.1  ...          141
201           3             2                0       109.1  ...          141
202           3             2                0       109.1  ...          173
203           3             2                0       109.1  ...          145
204           3             2                0       109.1  ...          141

     fuel-system  bore  stroke  compression-ratio  horsepower  peak-rpm  \
3              4  3.19    3.40               10.0         102      5500
4              4  3.19    3.40                8.0         115      5500
6              4  3.19    3.40                8.5         110      5500
8              4  3.13    3.40                8.3         140      5500
10             4  3.50    2.80                8.8         101      5800
..           ...   ...     ...                ...         ...       ...
200            4  3.78    3.15                9.5         114      5400
201            4  3.78    3.15                8.7         160      5300
202            4  3.58    2.87                8.8         134      5500
203            2  3.01    3.40               23.0         106      4800
204            4  3.78    3.15                9.5         114      5400

     city-mpg highway-mpg  price
3          24          30  13950
4          18          22  17450
6          19          25  17710
8          17          20  23875
10         23          29  16430
..        ...         ...    ...
200        23          28  16845
201        19          25  19045
202        18          23  21485
203        26          27  22470
204        19          25  22625

[159 rows x 26 columns]

In [379]:
Auto

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
3,2,164,0,1,0,0,3,1,0,99.8,...,109,4,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,0,1,0,0,3,0,0,99.4,...,136,4,3.19,3.40,8.0,115,5500,18,22,17450
6,1,158,0,1,0,0,3,1,0,105.8,...,136,4,3.19,3.40,8.5,110,5500,19,25,17710
8,1,158,0,1,1,0,3,1,0,105.8,...,131,4,3.13,3.40,8.3,140,5500,17,20,23875
10,2,192,1,1,0,1,3,2,0,101.2,...,108,4,3.50,2.80,8.8,101,5800,23,29,16430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,17,1,0,0,3,2,0,109.1,...,141,4,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,17,1,1,0,3,2,0,109.1,...,141,4,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,17,1,0,0,3,2,0,109.1,...,173,4,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,17,0,1,0,3,2,0,109.1,...,145,2,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,17,1,1,0,3,2,0,109.1,...,141,4,3.78,3.15,9.5,114,5400,19,25,22625

7.check if there's again null value after encoding

In [380]:
Auto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159 entries, 3 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          159 non-null    int64
 1   normalized-losses  159 non-null    object
 2   make               159 non-null    int32
 3   fuel-type          159 non-null    int32
 4   aspiration         159 non-null    int32
 5   num-of-doors       159 non-null    int32
 6   body-style         159 non-null    int32
 7   drive-wheels       159 non-null    int32
 8   engine-location    159 non-null    int32
 9   wheel-base         159 non-null    float64
 10  length             159 non-null    float64
 11  width              159 non-null    float64
 12  height             159 non-null    float64
 13  curb-weight        159 non-null    int64
 14  engine-type        159 non-null    int32
 15  num-of-cylinders   159 non-null    int32
 16  engine-size        159 non-null    int64
 17  fuel-system        159 non-null    int32
 18  bore               159 non-null    object
 19  stroke             159 non-null    object
 20  compression-ratio  159 non-null    float64
 21  horsepower         159 non-null    object
 22  peak-rpm           159 non-null    object
 23  city-mpg           159 non-null    int64
 24  highway-mpg        159 non-null    int64
 25  price              159 non-null    object
dtypes: float64(5), int32(10), int64(5), object(6)
memory usage: 27.3+ KB

8.Check mean and variance values to find if data is still normalized or not

In [381]:
Auto.std()

C:\Users\mouna\AppData\Local\Temp\ipykernel_22500\1161070968.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  Auto.std()

symboling              1.193086
make                   4.991107
fuel-type              0.293224
aspiration             0.376653
num-of-doors           0.491954
body-style             0.762967
drive-wheels           0.533191
engine-location        0.000000
wheel-base             5.167416
length                11.523177
width                  1.947883
height                 2.268761
curb-weight          481.941321
engine-type            0.728703
num-of-cylinders       0.426138
engine-size           30.460791
fuel-system            1.565262
compression-ratio      3.889475
city-mpg               6.097142
highway-mpg            6.459189
dtype: float64

In [382]:
Auto.mean()

C:\Users\mouna\AppData\Local\Temp\ipykernel_22500\1229847780.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  Auto.mean()

symboling               0.735849
normalized-losses            inf
make                   10.113208
fuel-type               0.905660
aspiration              0.169811
num-of-doors            0.402516
body-style              2.654088
drive-wheels            1.238994
engine-location         0.000000
wheel-base             98.264151
length                172.413836
width                  65.607547
height                 53.899371
curb-weight          2461.138365
engine-type             2.025157
num-of-cylinders        2.044025
engine-size           119.226415
fuel-system             2.371069
compression-ratio      10.161132
horsepower                   inf
peak-rpm                     inf
city-mpg               26.522013
highway-mpg            32.081761
price                        inf
dtype: float64

9. perform standardscalar to normalize dataset

In [383]:
from sklearn.preprocessing import StandardScaler
z_data = StandardScaler().fit_transform(Auto)

In [384]:
z_data = pd.DataFrame(z_data)

In [385]:
z_data.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1.062912,1.206222,-2.032647,0.322749,-0.452267,-0.820783,0.45481,-0.449649,0.0,0.298157,...,-0.336785,1.043965,-0.413240,0.556703,-0.041559,0.201279,0.831733,-0.414945,-0.323313,0.427398
1,1.062912,1.206222,-2.032647,0.322749,-0.452267,-0.820783,0.45481,-2.331075,0.0,0.220504,...,0.552401,1.043965,-0.413240,0.556703,-0.557392,0.625812,0.831733,-1.402122,-1.565772,1.024734
2,0.222101,1.037394,-2.032647,0.322749,-0.452267,-0.820783,0.45481,-0.449649,0.0,1.462948,...,0.552401,1.043965,-0.413240,0.556703,-0.428433,0.462530,0.831733,-1.237593,-1.099850,1.069108
3,0.222101,1.037394,-2.032647,0.322749,2.211083,-0.820783,0.45481,-0.449649,0.0,1.462948,...,0.387737,1.043965,-0.638386,0.556703,-0.480017,1.442223,0.831733,-1.566652,-1.876386,2.121274
4,1.062912,1.994089,-1.831658,0.322749,-0.452267,1.218349,0.45481,1.431777,0.0,0.569942,...,-0.369717,1.043965,0.750015,-1.484399,-0.351058,0.168622,1.477884,-0.579475,-0.478620,0.850653

10.Check if all means are zero and variance value is 1

In [386]:
z_data.mean()

0     2.793014e-17
1    -4.468822e-17
2     1.787529e-16
3    -1.284786e-16
4     3.910219e-17
5    -5.586028e-17
6     1.564088e-16
7     1.228926e-16
8     0.000000e+00
9    -8.490762e-16
10    2.927079e-15
11    5.005081e-15
12    1.608776e-15
13   -2.457852e-16
14    5.586028e-18
15   -4.915704e-16
16   -2.122691e-16
17    2.234411e-17
18    2.390820e-15
19    1.608776e-15
20   -9.496247e-17
21   -2.010970e-16
22    9.384527e-16
23    1.340647e-16
24    4.580543e-16
25   -5.586028e-17
dtype: float64

In [387]:
z_data.std()

0     1.00316
1     1.00316
2     1.00316
3     1.00316
4     1.00316
5     1.00316
6     1.00316
7     1.00316
8     0.00000
9     1.00316
10    1.00316
11    1.00316
12    1.00316
13    1.00316
14    1.00316
15    1.00316
16    1.00316
17    1.00316
18    1.00316
19    1.00316
20    1.00316
21    1.00316
22    1.00316
23    1.00316
24    1.00316
25    1.00316
dtype: float64

11.final check the data is normalized

In [392]:
from sklearn.preprocessing import Normalizer
n = Normalizer().fit(Auto)
da_n = n.transform(Auto)

In [393]:
n

Normalizer()

In [394]:
da_n

array([[ 1.31757748e-04,  1.08041353e-02,  0.00000000e+00, ...,
         1.58109297e-03,  1.97636621e-03,  9.19010290e-01],
       [ 1.08015763e-04,  8.85729253e-03,  0.00000000e+00, ...,
         9.72141863e-04,  1.18817339e-03,  9.42437529e-01],
       [ 5.32929399e-05,  8.42028450e-03,  0.00000000e+00, ...,
         1.01256586e-03,  1.33232350e-03,  9.43817965e-01],
       ...,
       [-4.46748794e-05,  4.24411354e-03,  7.59472949e-04, ...,
         8.04147828e-04,  1.02752223e-03,  9.59839783e-01],
       [-4.30974863e-05,  4.09426120e-03,  7.32657268e-04, ...,
         1.12053464e-03,  1.16363213e-03,  9.68400518e-01],
       [-4.26198000e-05,  4.04888100e-03,  7.24536601e-04, ...,
         8.09776201e-04,  1.06549500e-03,  9.64272976e-01]])

In [395]:
data_n = pd.DataFrame(da_n)

In [396]:
data_n.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,0.000132,0.010804,0.000000,0.000066,0.00000,0.000000,0.000198,0.000066,0.0,0.006575,...,0.007181,0.000264,0.000210,0.000224,0.000659,0.006720,0.362334,0.001581,0.001976,0.919010
1,0.000108,0.008857,0.000000,0.000054,0.00000,0.000000,0.000162,0.000000,0.0,0.005368,...,0.007345,0.000216,0.000172,0.000184,0.000432,0.006211,0.297043,0.000972,0.001188,0.942438
2,0.000053,0.008420,0.000000,0.000053,0.00000,0.000000,0.000160,0.000053,0.0,0.005638,...,0.007248,0.000213,0.000170,0.000181,0.000453,0.005862,0.293111,0.001013,0.001332,0.943818
3,0.000040,0.006398,0.000000,0.000040,0.00004,0.000000,0.000121,0.000040,0.0,0.004284,...,0.005304,0.000162,0.000127,0.000138,0.000336,0.005669,0.222705,0.000688,0.000810,0.966743
4,0.000114,0.010915,0.000057,0.000057,0.00000,0.000057,0.000171,0.000114,0.0,0.005753,...,0.006140,0.000227,0.000199,0.000159,0.000500,0.005742,0.329721,0.001308,0.001649,0.934021

In [397]:
data_n.mean()

0     0.000070
1     0.010346
2     0.000878
3     0.000081
4     0.000011
5     0.000038
6     0.000230
7     0.000100
8     0.000000
9     0.008481
10    0.014807
11    0.005688
12    0.004692
13    0.203449
14    0.000178
15    0.000179
16    0.009762
17    0.000180
18    0.000284
19    0.000282
20    0.000874
21    0.007700
22    0.447666
23    0.002445
24    0.002940
25    0.854088
dtype: float64

In [398]:
data_n.std()

0     0.000097
1     0.003783
2     0.000493
3     0.000036
4     0.000025
5     0.000050
6     0.000089
7     0.000036
8     0.000000
9     0.002336
10    0.003870
11    0.001630
12    0.001396
13    0.037284
14    0.000076
15    0.000061
16    0.001848
17    0.000113
18    0.000078
19    0.000086
20    0.000398
21    0.001472
22    0.143121
23    0.001182
24    0.001342
25    0.079815
dtype: float64