Data cleaning using boston file

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns

In [3]:
cd

C:\Users\mouna

In [9]:
House = pd.read_csv('C:\\DataS\\Nov Batch Course Files\\Boston.csv')

In [10]:
House

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [13]:
House.mean()

Unnamed: 0    253.500000
crim            3.613524
zn             11.363636
indus          11.136779
chas            0.069170
nox             0.554695
rm              6.284634
age            68.574901
dis             3.795043
rad             9.549407
tax           408.237154
ptratio        18.455534
black         356.674032
lstat          12.653063
medv           22.532806
dtype: float64

In [14]:
House.std()

Unnamed: 0    146.213884
crim            8.601545
zn             23.322453
indus           6.860353
chas            0.253994
nox             0.115878
rm              0.702617
age            28.148861
dis             2.105710
rad             8.707259
tax           168.537116
ptratio         2.164946
black          91.294864
lstat           7.141062
medv            9.197104
dtype: float64

In [15]:
from sklearn.preprocessing import StandardScaler
z_data = StandardScaler().fit_transform(House)

In [16]:
z_data = pd.DataFrame(z_data)

In [17]:
z_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,-1.728631,-0.419782,0.284830,-1.287909,-0.272599,-0.144217,0.413672,-0.120013,0.140214,-0.982843,-0.666608,-1.459000,0.441052,-1.075562,0.159686
1,-1.721785,-0.417339,-0.487722,-0.593381,-0.272599,-0.740262,0.194274,0.367166,0.557160,-0.867883,-0.987329,-0.303094,0.441052,-0.492439,-0.101524
2,-1.714939,-0.417342,-0.487722,-0.593381,-0.272599,-0.740262,1.282714,-0.265812,0.557160,-0.867883,-0.987329,-0.303094,0.396427,-1.208727,1.324247
3,-1.708093,-0.416750,-0.487722,-1.306878,-0.272599,-0.835284,1.016303,-0.809889,1.077737,-0.752922,-1.106115,0.113032,0.416163,-1.361517,1.182758
4,-1.701247,-0.412482,-0.487722,-1.306878,-0.272599,-0.835284,1.228577,-0.511180,1.077737,-0.752922,-1.106115,0.113032,0.441052,-1.026501,1.487503

In [18]:
z_data.mean()

0    -5.616939e-17
1    -1.123388e-16
2     7.898820e-17
3     2.106352e-16
4    -3.510587e-17
5    -1.965929e-16
6    -1.088282e-16
7    -1.474446e-16
8    -8.425408e-17
9    -1.123388e-16
10    0.000000e+00
11   -4.212704e-16
12   -7.442444e-16
13   -3.089316e-16
14   -5.195668e-16
dtype: float64

In [19]:
z_data.std()

0     1.00099
1     1.00099
2     1.00099
3     1.00099
4     1.00099
5     1.00099
6     1.00099
7     1.00099
8     1.00099
9     1.00099
10    1.00099
11    1.00099
12    1.00099
13    1.00099
14    1.00099
dtype: float64